# Eclipse / STS
/.project
/.classpath
/.settings/
**/.classpath
**/.project
**/.settings/

# Maven
**/target/
*.class
/src/database
mvc/src/main/resources/application-local.properties
mvc/src/main/resources/application-local.properties
.vscode/settings.json
.vscode/launch.json
