<div>
	<header class="text-white text-center header">
		<div class="logo-titulo">
			<!-- Imagen del escudo -->
			<a href="/index"><img src="/images/escudo.png" href="/index" alt="Escudo del Club" width="200px"
					style="margin: 20px 0px;"></a>
			<!-- Nombre del club -->
			<h1 class="lead fw-bold grafiti-title" style="font-size: 80px;">MUTXAMEL CF</h1>
		</div>
	</header>

	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(213, 243, 253);">
		<div class="container-fluid lead">
			<!-- Botón de hamburguesa solo visible en pantallas pequeñas -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Menú de navegación -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto">
					<!-- Menú Administración -- La opción requiere autenticación -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown">
							Administración
						</a>
						<ul class="dropdown-menu lead">
							<li><a class="dropdown-item" href="/admin/equipos">Equipos</a></li>
							<li><a class="dropdown-item" href="/admin/jugadores">Jugadores</a></li>
							<li><a class="dropdown-item" href="/admin/cuerpo-tecnico">Cuerpo Técnico</a></li>
							<li><a class="dropdown-item" href="/admin/calendario-resultados">Calendario/Resultados</a>
							</li>
							<li><a class="dropdown-item" href="/admin/noticias">Noticias</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</div>