<div class="container mt-2">
	<h1 class="fw-bold text-center">Nuestros Patrocinadores</h1>
	<div class="row justify-content-center">

		<!-- Patrocinador 1 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.instagram.com/frutasjuanete/" target="_blank">
				<img src="/images/frutasJuanete.jpg" class="patrocinador-img img-fluid" alt="Frutas y verduras Juanete">
			</a>
		</div>

		<!-- Patrocinador 2 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.unlimiteddevelopments.es/" target="_blank">
				<img src="/images/unlimited.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 2">
			</a>
		</div>

		<!-- Patrocinador 3 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://ayto.mutxamel.org/" target="_blank">
				<img src="/images/aytoMutxamel.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 3">
			</a>
		</div>

		<!-- Patrocinador 4 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://alumedsistemas.com/" target="_blank">
				<img src="/images/alumed.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 4">
			</a>
		</div>

		<!-- Patrocinador 5 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<img src="/images/aresala.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 5">
		</div>

		<!-- Patrocinador 6 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://asesoriacollado.com/es" target="_blank">
				<img src="/images/collado.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 6">
			</a>
		</div>

		<!-- Patrocinador 7 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.limpiezadetuboscostablanca.net/" target="_blank">
				<img src="/images/costablanca.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 7">
			</a>
		</div>

		<!-- Patrocinador 8 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.instagram.com/labodegaelias/" target="_blank">
				<img src="/images/laBodega.jpg" style="width:150px; height:150px; object-fit:cover; border-radius:50%;"
					class="patrocinador-img img-fluid" alt="Patrocinador 8">
			</a>
		</div>

	</div>
</div>

<footer class="bg-dark text-white text-center py-3">
	<p>Mutxamel CF © Todos los derechos reservados. <a th:href="@{/politicaPrivacidad}" class="no-style">Política de
			Privacidad.</a></p>

	<script>
		function redirectToLogin() {
			window.location.href = "/login";
		}
	</script>

</footer>