<div class="container mt-2">
	<h1 class="fw-bold text-center">Nuestros Patrocinadores</h1>
	<p class="text-center text-muted small mb-3">
	    <i class="bi bi-box-arrow-up-right"></i>
	    Pulsa en las imagenes para conocer mas acerca de nuestros patrocinadores.
	</p>
	<div class="row justify-content-center">

		<!-- Patrocinador 1 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.instagram.com/frutasjuanete/" target="_blank">
				<img src="/images/frutasJuanete.jpg" class="patrocinador-img img-fluid" alt="Frutas y verduras Juanete">
			</a>
		</div>

		<!-- Patrocinador 2 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.unlimiteddevelopments.es/" target="_blank">
				<img src="/images/unlimited.jpg" class="patrocinador-img img-fluid" alt="Unlimited Developments">
			</a>
		</div>

		<!-- Patrocinador 3 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://ayto.mutxamel.org/" target="_blank">
				<img src="/images/aytoMutxamel.jpg" class="patrocinador-img img-fluid" alt="Ayto Mutxamel">
			</a>
		</div>

		<!-- Patrocinador 4 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://alumedsistemas.com/" target="_blank">
				<img src="/images/alumed.jpg" class="patrocinador-img img-fluid" alt="Alumed Sistemas">
			</a>
		</div>

		<!-- Patrocinador 5 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://asesoriacollado.com/es" target="_blank">
				<img src="/images/collado.jpg" class="patrocinador-img img-fluid" alt="Asesoria Collado">
			</a>
		</div>

		<!-- Patrocinador 6 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://clinicadentalnuva.com/es" target="_blank">
				<img src="/images/nuva.jpg" style="width:150px; height:150px; object-fit:cover; border-radius:50%;"
					class="patrocinador-img img-fluid" alt="Clinica Dental NUVA">
			</a>
		</div>

		<!-- Patrocinador 7 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.limpiezadetuboscostablanca.net/" target="_blank">
				<img src="/images/costablanca.jpg" class="patrocinador-img img-fluid"
					alt="Limpieza de Tubos Costablanca">
			</a>
		</div>

		<!-- Patrocinador 8 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.instagram.com/labodegaelias/" target="_blank">
				<img src="/images/laBodega.jpg" style="width:150px; height:150px; object-fit:cover; border-radius:50%;"
					class="patrocinador-img img-fluid" alt="La bodega de Elias">
			</a>
		</div>

		<!-- Patrocinador 9 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<img src="/images/aresala.jpg" class="patrocinador-img img-fluid" alt="Aresala">
		</div>

		<!-- Patrocinador 10 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.aaenergyenriquez.es" target="_blank">
				<img src="/images/aaenergy.jpeg" class="patrocinador-img img-fluid" alt="AA Energy">
			</a>
		</div>

	</div>
</div>

<footer class="bg-dark text-white text-center py-3">
	<p>Mutxamel CF © Todos los derechos reservados. <a th:href="@{/politicaPrivacidad}" class="no-style">Política de
			Privacidad.</a></p>

	<script>
		function redirectToLogin() {
			window.location.href = "/login";
		}
	</script>

</footer>