<!-- Bloque de patrocinadores -->
<!--<div class="container mt-4">-->
<!--	<h5 class="fw-bold text-center">Nuestros Patrocinadores</h5>-->
<!--	<div class="row justify-content-center">-->
<!--		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3" th:each="patrocinador : ${patrocinadores}">-->
<!--			<img th:src="@{'/images/' + ${patrocinador}}" class="patrocinador-img img-fluid" alt="Patrocinador">-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<div class="container mt-4">
	<h5 class="fw-bold text-center">Nuestros Patrocinadores</h5>
	<div class="row justify-content-center">

		<!-- Patrocinador 1 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.instagram.com/frutasjuanete/" target="_blank">
				<img src="/images/frutasJuanete.jpg" class="patrocinador-img img-fluid" alt="Frutas y verduras Juanete">
			</a>
		</div>

		<!-- Patrocinador 2 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.unlimiteddevelopments.es/" target="_blank">
				<img src="/images/unlimited.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 2">
			</a>
		</div>

		<!-- Patrocinador 3 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://ayto.mutxamel.org/" target="_blank">
				<img src="/images/aytoMutxamel.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 3">
			</a>
		</div>

		<!-- Patrocinador 4 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.luanvi.com/es/" target="_blank">
				<img src="/images/luanvi.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 4">
			</a>
		</div>

		<!-- Patrocinador 5 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://centrosilviacarrillo.com/" target="_blank">
				<img src="/images/silviaCarrillo.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 5">
			</a>
		</div>

		<!-- Patrocinador 6 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://clinicalopezrodriguez.com/" target="_blank">
				<img src="/images/lopezRodriguez.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 6">
			</a>
		</div>

		<!-- Patrocinador 7 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.diputacionalicante.es/" target="_blank">
				<img src="/images/diputacion.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 7">
			</a>
		</div>

		<!-- Patrocinador 8 -->
		<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
			<a href="https://www.instagram.com/labodegaelias/" target="_blank">
				<img src="/images/laBodega.jpg" class="patrocinador-img img-fluid" alt="Patrocinador 8">
			</a>
		</div>

	</div>
</div>

<footer class="bg-dark text-white text-center py-3">
	<p>Mutxamel CF © Todos los derechos reservados. <a th:href="@{/politicaPrivacidad}" class="no-style">Política de
			Privacidad.</a></p>

	<button class="btn btn-primary" onclick="redirectToLogin()">Iniciar Sesión</button>

	<script>
		function redirectToLogin() {
			window.location.href = "/login";
		}
	</script>

</footer>