<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Mutxamel Club de Fútbol</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/css/estilos.css}" rel="stylesheet">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
</head>

<body>

	<!-- Incluir el header -->
	<div th:replace="~{cabecera.html}"></div>

	<main class="container my-5 lead">
		<h1 class="text-center mb-5 fw-bold">FUTBOL I FUTBOLISTES A MUTXAMEL</h1>
		<p class="lead"></br>
			A més dels dies de festa locals —en els quals es congregava la comunitat al complet— i les celebracions
			familiars, hi havia també una sèrie de punts on les persones establien contactes, ja fora el cap de setmana
			o les jornades de diari. Les dones tenien menor llibertat de moviment que els homes, que disposaven de
			moltes ocasions per reunir-se, eixir i, sobretot, practicar certes diversions i entreteniments que a les
			xiques fadrines els estaven prohibits o creaven mal vistos per la societat.</br>
			Podem assegurar que fins a les últimes dècades del segle XX els jocs i activitats d'oci al carrer eren
			patrimoni quasi prioritari dels homes. Les més freqüents eren beure a les tavernes i als hostals. Recordem
			que a Mutxamel fins als anys seixanta sols anaven als bars o casino els homes a jugar a les cartes dels
			diumenges o festius. També era habitual muntar colles nocturnes per a donar serenates a les jóvens o vídues,
			i jugar a billots o a pilota valenciana, entre el que podíem considerar exercicis esportius.</br>
			Però, al començar el segle XX, s'escampa per Europa un esport practicat als col·legis anglesos des de feia
			ja algunes centúries; ens referim, per descomptat, al futbol, que prompte pren cos al nostre país, on
			comença a jugar-se el campionat de Lliga l’any 1920.
			Els xiquets i fadrins mutxamelers tampoc es queden arrere d’aquesta nova modalitat esportiva a l’aire
			lliure, ideal per al clima d’estes terres. Prompte, aprofitant l’existència de nombrosos bancals i eres,
			serà freqüent veure al paisatge quotidià del nostre poble grups de gent jove jugant al futbol. Les primeres
			referències ens conten que als inicis dels anys trenta ja existia un lloc habitual per a reunir-se i jugar
			al carrer de la Séquia.</br>
			Més tard, en obrir-se la nova avinguda de Carlos Soler, "La Rambla", aprofitant els espais existents,
			comencen a fer-se visibles els primers projectes de camps de futbol, encara que és més correcte afirmar les
			primeres porteries, senyalitzades amb pedres.
			De seguida es formen diversos equips, que responen a les amistats infantils o al lloc de residència on vivia
			la majoria dels jugadors, que en alguns casos passen a denominar el seu equip amb el nom del lloc, com és el
			cas del "Rastoll de Benait".
			Com a la nostra localitat, també als pobles del voltant augmenta l’afició pel futbol així com el nombre de
			participants, el que propicia que prompte s’organitzen tornejos entre els equips de Mutxamel, Sant Joan o
			Sant Vicent. Els vestidors utilitzats tant per als equips locals, com per als visitants, eren les
			dependències del Bar Conchita, que desinteressadament acollia jugadors, àrbitres i preparadors perquè es
			pogueren canviar i deixar allí les seues pertinences. El material de primers auxilis es portava dins d’una
			maleta i era l’imprescindible que s’havia pogut arreplegar per a curar alguna ferida.</br>
			Els dies de festa locals era prou habitual trobar entre les activitats programades un partit de futbol, tal
			com podem llegir a la premsa alacantina ja a l’any 1932, on apareixen les cròniques dels encontres jugats al
			nostre poble al mes de juliol o el dotze d’octubre, i on veiem que s’agrupaven els jóvens mutxamelers en els
			equips anomenats "Muchamiel FC" i "Alianza Local".
		</p>
		<p class="lead">
			Deportivas Carolinas FC y Muchamiel FC

			L’encontre jugat pels equips esmentats fou en tot moment renyidíssim i emocionant, pel gran interés que en
			la lluita posaren ambdós onzes per obtenir un bon resultat.
			Els alacantins posaren, a la segona part en què fou més intens el domini local, una gran defensa, lluïnt-se
			el porter en aturades dificilíssimes.
			Cal destacar també dels visitants al seu davanter centre, Òscar, que a la primera part estigué encertadíssim
			en el passe, no tenint fortuna en la rematada.
			Dels locals, tot molt bé: Cardona, al centre del migcamp, tingué una feliç actuació, i Sánchez a la porteria
			segur, valent i molt voluntariós, sent molt digne d’elogiar l’enorme entusiasme que en tot partit posa
			aquest jove.
			Alineació local: Sánchez, Bernabeu, López, Ripoll, Cardona, Domingo, Pastor, Picó, Más, A. Juan i
			Vidal.</br>
			La festa del dotze d’octubre comptà també amb competició esportiva, on, per cert, els aficionats no quedaren
			massa convençuts ni de l’actuació de l’àrbitre ni dels jugadors, segons ens narra el periodista:</br>
			"Ahir dijous, festivitat de la Raza, actuaren en el camp de casa els equips d’aquesta C. Alianza Local i
			Club Gimnàstic d’Alacant, resultant l’encontre amb un empat a cero.
			Cal remarcar la parcialitat de l’àrbitre a favor dels locals, tolerant-los tot joc brut i anul·lant als
			forasters la major part dels avanços que realitzaren unes vegades per fora de joc imaginari i altres per
			mans que no existiren.
			L’encontre transcorregué en complet domini foraster, entenent-se a meravella la davantera, molt ben portada
			per Tortoso, i estigué molt bé Roberto a la porteria les poques vegades que arribaren els de casa a esta.
			Per als locals molt bé García a la defensa, el seu company Cabanes molt pesat i erroni, el porter féu un
			gran partit i la davantera no s’entengué en cap moment.
			Finalment, i per no perdre la costum, es formà la bronca, en la qual els espectadors, partidaris de l’equip
			local, es feren a cops amb els equips alacantins."</br>
			Durant més de vint anys, els miniestadis mutxamelers anaren canviant de lloc a la Rambla, segons avançava la
			construcció de vivendes. L’últim espai aprofitat com a camp esportiu fou una part del carrer la Mar, on
			podem apreciar el paisatge combinat d’arbres, bancals i edificis al reportatge fotogràfic.</br>
			Encara que proliferaven els equips amb noms peculiars relacionats amb la meteorologia —Rayo, "Relámpago",
			"Trueno", "Tempestad" o "Huracán", entre d’altres— fou el Mutxamel C.F. el que es consolidà. Comptava ja amb
			directiva pròpia, grup de socis, i començaven també a perfilar-se els colors del club, que eren bàsicament
			dos: pantaló blau o blanc acompanyat per camisa grana o la samarreta a ratlles.
			Pràcticament tots els integrants del primer equip eren de Mutxamel, i entre ells destacà Rafael Pastor "El
			Parralo", que arribà a jugar en primera divisió a l’Hèrcules d’Alacant i al Màlaga. Algú jugador venia
			d’altres localitats properes; són els més recordats els anomenats "La Leona" i "El Comanche".
			La urbanització creixent de l’avinguda de Carlos Soler feia impossible poder continuar jugant a futbol en
			esta zona. Es plantegen noves alternatives, sempre comptant amb el voluntarisme del treball dels aficionats
			i la col·laboració de propietaris que, de manera altruista, cedien temporalment noves parcel·les per
			transformar-les en un possible camp esportiu.</br>
			En aquesta ocasió, l’espai elegit fou la part del Calvari ubicada entre la finca de la Costera i la de
			Soqui, que era propietat dels senyors Laureano Sala i Paco Brotons, Quito el de Soqui.
			Amb molta il·lusió, voluntat i treballant tots units —aficionats i junta directiva— es posà en marxa aquest
			nou projecte, que s’inicià amb la neteja manual d’aquests terrenys pedregosos i, finalment, gràcies a una
			derrama extraordinària, es pogué portar una de les primeres màquines de cadenes des de la partida de
			l’Altet, que definitivament aplanà el paratge i permeté inaugurar el camp del Calvari a mitjan dècada dels
			cinquanta, quan era alcalde José Antón i rector Juan Cubí.
			A més, no faltà la presència de la nostra banda de música, al front de la qual estava, com a director, José
			Méndez.
			Com a curiositat, volem destacar que la cantina la tenia adjudicada Rafael Aracil, "el Peixero", i els
			diumenges que hi havia partit portava l’aigua per a vendre amb dos garrofes transportades amb un carret.
			</br>

		</p>
		<p class="lead">
			Mutxamel CF des de 1969

			Com que l’interès dels joves mutxamelers pel futbol anava en augment, es creà un nou equip: el Muchamiel
			Atlètic.
			Les infraestructures esportives municipals eren inexistents, i els mateixos futbolistes, ajudats
			econòmicament per alguns veïns, feren un nou “estadi” a l’est del nucli urbà, conegut com les Portelles,
			prop del que hui és el parc municipal.
			Com a anècdota, ressaltem que les porteries que avui encara s’utilitzen al camp de terra de l’estadi
			municipal dels Oms són les que hi havia al lloc mencionat.
			Durant aquesta etapa, el Mutxamel continuà participant als campionats comarcals o provincials, on inclús
			quedà finalista en alguna ocasió, sent els més habituals el torneig "Chacón" o la copa de "San Pedro", que
			es jugaven a la capital, Alacant, a l’antic estadi de l’Hèrcules, l’anomenat Bardín, o al camp de La
			Viña.</br>
			En parlar de jugadors, directives, socis i aficionats, hem d’oblidar-nos pràcticament del futbol tal com hui
			es relaciona amb una manera de viure i amb contractes milionaris.
			Els integrants dels equips eren fadrins que treballaven al camp, als tallers, als magatzems, etc., i en
			acabar la jornada laboral practicaven l’esport que els agradava.
			Les instal·lacions, els equipatges, el material de primers auxilis i altres menesters s’aconseguien a base
			de rifes o d’accions que eren adquirides pels veïns que volien cooperar.
			Ja arribà l’hora que es va haver d’abandonar el camp del Calvari, recordem que era terreny cedit
			temporalment per particulars.
			Davant d’aquesta situació, des de l’Ajuntament es va prendre consciència de la necessitat d’habilitar i
			tenir un espai públic on la joventut mutxamelera poguera practicar esport.
			Així, al mes de maig de l’any 1969 es va inaugurar el primer camp de futbol municipal dels Oms, precursor
			del magnífic poliesportiu actual, complex dotat hui, entre altres instal·lacions, d’un excel·lent estadi per
			a jugar al futbol que reuneix les mesures reglamentàries i està plantat de gespa.</br>
			A l’acte d’inauguració, a més de les autoritats locals i la banda de música, també hi foren presents la
			Reina de les Festes de Moros i Cristians, que per cert efectuà la jugada inaugural, acompanyada per les
			seues dames d’honor.
			En aquesta ocasió, alguns mitjans de comunicació de la capital estigueren presents i deixaren constància de
			l’obertura del recinte i del partit que van jugar el Mutxamel i l’Hèrcules d’Alacant.
			En realitzar aquesta narració de cent anys d’activitat futbolística al nostre poble, hem intentat deixar
			testimoni escrit i gràfic del treball en equip de jugadors, directives, aficionats, veïns, Ajuntament, etc.,
			que amb el seu esforç altruista, ànim i entusiasme han fet possible que el joc espontani iniciat al mig dels
			carrers, eres i bancals mutxamelers es practique hui en unes estupendes instal·lacions municipals
			edificades, a més, en un lloc preciós del nostre poble.</br>
			I sobretot, que generacions de jóvens mutxamelers, a més de jugar al futbol durant moltes dècades, hagen
			establert vincles de camaraderia i amistat entre ells i amb persones d’altres localitats.
			I contribuïren també a donar a conèixer el nostre poble Mutxamel, tant quan es jugava a altres poblacions
			com quan altres equips ens visitaven.
		</p>
		<a href="/images/historiaMutxamel.jpg" target="_blank">
			<img src="/images/historiaMutxamel.jpg" class="img-thumbnail" alt="Imagen 1">
		</a>

		<h3 class="mt-5 lead fw-bold">Eventos Importantes</h3>


		<h3 class="mt-5 lead fw-bold">Galería</h3>
		<!-- Galería de imágenes en miniatura -->
		<div class="image-gallery">
			<a href="/images/noticia1.jpg" target="_blank">
				<img src="/images/noticia1.jpg" class="img-thumbnail" alt="Imagen 1">
			</a>
			<a href="/images/noticia2.jpg" target="_blank">
				<img src="/images/noticia2.jpg" class="img-thumbnail" alt="Imagen 2">
			</a>
			<a href="/images/noticia3.jpg" target="_blank">
				<img src="/images/noticia3.jpg" class="img-thumbnail" alt="Imagen 3">
			</a>
			<a href="/images/noticia1.jpg" target="_blank">
				<img src="/images/noticia1.jpg" class="img-thumbnail" alt="Imagen 1">
			</a>
			<a href="/images/noticia2.jpg" target="_blank">
				<img src="/images/noticia2.jpg" class="img-thumbnail" alt="Imagen 2">
			</a>
			<a href="/images/noticia3.jpg" target="_blank">
				<img src="/images/noticia3.jpg" class="img-thumbnail" alt="Imagen 3">
			</a>
			<a href="/images/noticia1.jpg" target="_blank">
				<img src="/images/noticia1.jpg" class="img-thumbnail" alt="Imagen 1">
			</a>
			<a href="/images/noticia2.jpg" target="_blank">
				<img src="/images/noticia2.jpg" class="img-thumbnail" alt="Imagen 2">
			</a>
			<a href="/images/noticia3.jpg" target="_blank">
				<img src="/images/noticia3.jpg" class="img-thumbnail" alt="Imagen 3">
			</a>
			<a href="/images/noticia1.jpg" target="_blank">
				<img src="/images/noticia1.jpg" class="img-thumbnail" alt="Imagen 1">
			</a>
			<a href="/images/noticia2.jpg" target="_blank">
				<img src="/images/noticia2.jpg" class="img-thumbnail" alt="Imagen 2">
			</a>
			<a href="/images/noticia3.jpg" target="_blank">
				<img src="/images/noticia3.jpg" class="img-thumbnail" alt="Imagen 3">
			</a>
			<!-- Añade más imágenes aquí -->
		</div>
	</main>

	<!-- Incluir el footer -->
	<div th:replace="~{footer.html}"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

	<style>
		/* Estilo para la galería de imágenes */
		.image-gallery {
			display: flex;
			/* Usamos flexbox para alinear las imágenes */
			justify-content: center;
			/* Centrar las imágenes */
			flex-wrap: wrap;
			/* Permitir que las imágenes se ajusten en varias filas */
			gap: 15px;
			/* Espacio entre las imágenes */
		}

		.image-gallery img {
			width: 200px;
			/* Ancho de las miniaturas */
			height: auto;
			/* Mantener proporciones */
			transition: transform 0.5s;
			/* Transición suave para el aumento de tamaño */
		}

		.image-gallery img:hover {
			transform: scale(1.5);
			/* Aumentar ligeramente el tamaño al pasar el mouse */
		}
	</style>
</body>

</html>