<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Mutxamel Club de Fútbol</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/css/estilos.css}" rel="stylesheet">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
</head>

<body>

	<!-- Incluir el header -->
	<div th:replace="~{cabecera.html}"></div>

	<main>
		<!-- Mostramos los resultadosFutbol en una tabla si existen -->
		<div th:if="${!resultadosFutbol.isEmpty()}">
			<h1 class="text-center my-5 fw-bold">Calendario / Restultados Fútbol</h1>
			<table>
				<thead>
					<tr>
						<th>EQUIPO</th>
						<th>RESULT</th>
						<th>RIVAL</th>
						<th>DIA</th>
						<th>HORA</th>
						<th>CAMPO</th>
					</tr>
				</thead>
				<tbody>
					<!-- Iteramos sobre la lista de resultados -->
					<tr th:each="resultado : ${resultadosFutbol}">
						<td th:text="${resultado.equipo}" style="width: auto;"></td>
						<td th:text="${resultado.resultado}" style="width: 80px;"></td>
						<td th:text="${resultado.rival}" style="width: auto;"></td>
						<td th:text="${#dates.format(resultado.dia, 'dd/MM/yyyy')}" style="width: 80px; "></td>
						<td th:text="${resultado.hora}" style="width: 80px;"></td>
						<td th:text="${resultado.campo}" style="width: auto;"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Mostramos los resultadosFutbol en una tabla si existen -->
		<div th:if="${!resultadosFutbolSala.isEmpty()}">
			<h1 class="text-center my-5 fw-bold">Calendario / Restultados Fútbol Sala</h1>
			<table>
				<thead>
					<tr>
						<th>EQUIPO</th>
						<th>RESULT</th>
						<th>RIVAL</th>
						<th>DIA</th>
						<th>HORA</th>
						<th>CAMPO</th>
					</tr>
				</thead>
				<tbody>
					<!-- Iteramos sobre la lista de resultados -->
					<tr th:each="resultado : ${resultadosFutbolSala}">
						<td th:text="${resultado.equipo}" style="width: auto;"></td>
						<td th:text="${resultado.resultado}" style="width: 80px;"></td>
						<td th:text="${resultado.rival}" style="width: auto;"></td>
						<td th:text="${#dates.format(resultado.dia, 'dd/MM/yyyy')}" style="width: 80px; "></td>
						<td th:text="${resultado.hora}" style="width: 80px;"></td>
						<td th:text="${resultado.campo}" style="width: auto;"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>

	<!-- Incluir el footer -->
	<div th:replace="~{footer.html}"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>